body {
    margin: 0;
}

section {
    padding: 10px;
}

ul {
    border: 2px solid;
}

.pT {
    border-bottom: 1px solid;
}

.pU {
    color: gray;
}

footer {
    border-top: 10px double;
    padding-left: 10px;
}

#madeBy {
    text-align: center;
}

#heart {
    color: red;
}