html {
    height: 100%;
    margin-left: 0;
}

body{
    height: 100%;
    margin: 0;
}

section {
    margin: 0 0px;
    display: flex;
    padding: 0;
    height: 90%;
}

#myBlog {
    width: 45%;
    margin: 10px 0 0 0;
    text-align: center;
    padding-top: 20%;
}

div {
    height: 80%;
    width: 45%;
    padding-top: 10%;
    padding-left: 20px;
    border-left: 10px double;
}

form {
    padding: 10px 10px 0 10px;
}

input {
    width: 100%;
    margin-bottom: 50px;
    padding-right: 100px;
}

#content {
    padding-top: 75px;
}

#submit {
    width: 112.8%;
    text-align: center;
    padding: 5px 0;
}

