nav h1 {
    display: inline;
    padding: 0 10px;
    margin-top: -20px;
}

nav {
padding-top: 15px;
}

nav p {
    display: flex;
    justify-content: right;
    padding: 0 10px;
    margin-top: -20px;
}

nav button {
    padding: 0 10px;
}

#sun {
    margin-top: -15px;
    font-size: 200%; 
    padding: 0 10px;
}

#sun:hover {
    cursor: pointer;
}

section{
    border-top: 10px double;
}

#light-theme {
    background-color: white;
    color: black;
}

#dark-theme {
    background-color: black;
    color: white;
}